body{
    color: deeppink;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

.container{
    color:black;
    border: 1px solid rebeccapurple;
    border-radius: 16px;
    width: 70%;
    margin: 0 auto;
}